apiVersion: v1
baseDomain: {{ base_domain }}
metadata:
  name: {{ cluster_name }}
networking:
  networkType: OVNKubernetes 
  clusterNetwork:
  - cidr: 10.128.0.0/14 
    hostPrefix: 23 
  serviceNetwork: 
  - 172.30.0.0/16
  machineNetwork:
  - cidr: {{ baremetal_net.net }}/{{ baremetal_net.prefix }}
compute:
- name: worker
  replicas: {{ worker_nodes | list | length }}
controlPlane:
  name: master
  replicas: {{ master_nodes | list | length }}
platform:
  baremetal:
    apiVIP: {{ vip.api }}
    ingressVIP: {{ vip.apps }}
    provisioningNetwork: Disabled
    hosts:
{% for host in master_nodes %}
      - name: {{ host.name }}
        role: master
        bmc:
          address: redfish-virtualmedia://{{ redfish.redfish_ip }}:{{ redfish.listen_port }}/redfish/v1/Systems/{{ host.name }}
          disableCertificateVerification: true
          username: admin
          password: {{ secure_password }}
        bootMACAddress: {{ host.baremetal_mac }}
        rootDeviceHints:
          deviceName: "/dev/vda"
{% endfor %}
{% for host in worker_nodes %}
      - name: {{ host.name }}
        role: worker
        bmc:
          address: redfish-virtualmedia://{{ redfish.redfish_ip }}:{{ redfish.listen_port }}/redfish/v1/Systems/{{ host.name }}
          disableCertificateVerification: true
          username: admin
          password: {{ secure_password }}
        bootMACAddress: {{ host.baremetal_mac }}
        rootDeviceHints:
          deviceName: "/dev/vda"
{% endfor %}