{% for node in master_nodes %}
{{ node.name }}:
  start: false
  numcpus: {{ master.cpu }}
  memory: {{ master.memory }}
  uefi_legacy: true
  diskthin: false
  disks:
{% for disk in master.disks %}
  - {{ disk }}
{% endfor %}
  nets:
    - name: {{ ocp_virtual_net.name }}
      mac: {{ node.virtual_mac }}
      ip: {{ node.virtual_ip }}
      mask: {{ ocp_virtual_net.netmask }}
      gateway: {{ ocp_virtual_net.gateway }}
      reserveip: true
      reservedns: true
  reservehost: true
{% endfor %}
{% for node in worker_nodes %}
{{ node.name }}:
  start: false
  numcpus: {{ worker.cpu }}
  memory: {{ worker.memory }}
  uefi_legacy: true
  diskthin: true
  disks:
{% for disk in worker.disks %}
  - {{ disk }}
{% endfor %}
  nets:
    - name: {{ ocp_virtual_net.name }}
      mac: {{ node.virtual_mac }}
      ip: {{ node.virtual_ip }}
      mask: {{ ocp_virtual_net.netmask }}
      gateway: {{ ocp_virtual_net.gateway }}
      reserveip: true
      reservedns: true
  reservehost: true
{% endfor %}
{% if acm_managed | default(false) %}
{% for node in acm_managed_nodes.master_nodes %}
{{ node.name }}:
  start: false
  numcpus: {{ acm_managed.master.cpu }}
  memory: {{ acm_managed.master.memory }}
  uefi_legacy: true
  diskthin: true
  disks:
{% for disk in acm_managed.master.disks %}
  - {{ disk }}
{% endfor %}
  nets:
    - name: {{ ocp_virtual_net.name }}
      mac: {{ node.virtual_mac }}
      ip: {{ node.virtual_ip }}
      mask: {{ ocp_virtual_net.netmask }}
      gateway: {{ ocp_virtual_net.gateway }}
      reserveip: true
      reservedns: true
  reservehost: true
{% endfor %}
{% for node in acm_managed_nodes.worker_nodes %}
{{ node.name }}:
  start: false
  numcpus: {{ acm_managed.worker.cpu }}
  memory: {{ acm_managed.worker.memory }}
  uefi_legacy: true
  diskthin: true
  disks:
{% for disk in worker.disks %}
  - {{ disk }}
{% endfor %}
  nets:
    - name: {{ ocp_virtual_net.name }}
      mac: {{ node.virtual_mac }}
      ip: {{ node.virtual_ip }}
      mask: {{ ocp_virtual_net.netmask }}
      gateway: {{ ocp_virtual_net.gateway }}
      reserveip: true
      reservedns: true
  reservehost: true
{% endfor %}
{% endif %}