{% for node in master_nodes %}
{{ node.name }}:
  start: false
  numcpus: {{ master.cpu }}
  memory: {{ master.memory }}
  uefi_legacy: true
  diskthin: false
  disks:
{% for disk in master.disks %}
  - {{ disk }}
{% endfor %}
  nets:
    - name: {{ baremetal_net.name }}
      mac: {{ node.baremetal_mac }}
      ip: {{ node.baremetal_ip }}
      mask: {{ baremetal_net.netmask }}
      gateway: {{ baremetal_net.gateway }}
      reserveip: true
      reservedns: true
  reservehost: true
{% endfor %}
{% for node in worker_nodes %}
{{ node.name }}:
  start: false
  numcpus: {{ worker.cpu }}
  memory: {{ worker.memory }}
  uefi_legacy: true
  diskthin: false
  disks:
{% for disk in worker.disks %}
  - {{ disk }}
{% endfor %}
  nets:
    - name: {{ baremetal_net.name }}
      mac: {{ node.baremetal_mac }}
      ip: {{ node.baremetal_ip }}
      mask: {{ baremetal_net.netmask }}
      gateway: {{ baremetal_net.gateway }}
      reserveip: true
      reservedns: true
  reservehost: true
{% endfor %}
